body {

}

.nav-links {
    margin-top: 30px;
}

.nav-links a {
    text-decoration: none;
    font-weight: 400;
    color: black;
    font-size: 18px;
    letter-spacing: 3px;
    font-family: oswald;
}
.nav-links a:hover {
    color: #EDECE0;
}

.nav-links p:nth-child(2) {
    margin-top: 20px;
}

.title {
    width: 350px;
    height: 240px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 130px;
    border: solid 1px black;
    text-align: center;
}

.gummybears {
    margin-left: 60px;
}

.candy-container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between
}

.candy-card {
    text-align: center;
    height: 180px;
    width: 230px;
    margin-bottom: 60px;
}
.candy-card p {
    text-decoration: none;
    color: black;
    font-family: open sans;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 15px;
}

.candy-card:hover {
   opacity: 0.4;
}

.candy-img {
    max-height: 80%;
    max-width: 100%;
    object-fit: contain;
    margin-bottom: 50px;
}