@model GummyBearKingdom.Models.Product
@{
    ViewData["Title"] = "Delete Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Delete this product?</h2>
<hr />

<div class="text-center">
    <h3>
        @Html.DisplayFor(model => Model.Name)
    </h3>

    @using (Html.BeginForm())
    {
        <input type="submit" value="Delete" class="btn btn-lg black-btn"/>
    }
</div>

