@model IEnumerable<GummyBearKingdom.Models.Product>
@{ 
    ViewData["Title"] = "All Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="candy-container">
    @foreach(var product in Model)
    {
        <div class="candy-card">
            <p>
                <strong>@Html.DisplayFor(model => product.Name)</strong> |
                @Html.ActionLink("Details", "Details", new { id = product.ProductId })
            </p>
        </div>
    }
</div>

<h4>@Html.ActionLink("Add a product", "Create")</h4>
<h4>@Html.ActionLink("Return to home", "Index", "Home")</h4>